
.white-background,
body {
    background-color: #FBFCFA;
}

.black-bg {
    background-color: #28231D;;
}

.white-fg {
    color: #FBFCFA;
}

.font-serif {
    font-family: 'Ramaraja', serif;
    color: #28231D;
}

.font-san-serif {
    font-family: 'Roboto Condensed', sans-serif;
    color: #28231D;
    letter-spacing: -1px;
    font-weight: 700;
}

.wide-tracking {
    letter-spacing: 1px;
}

.image {
    background-size: cover;
    background-position: right;
}

.title {
    font-size: 5rem
}

.about-img {
    height: 600px;
}

.body-font {
    font-family: 'Roboto', sans-serif;
    color: #28231D;
}

.body-font-w {
    font-family: 'Roboto', sans-serif;
    color: #FBFCFA;
}

::placeholder {
    font-size: 12px;
    padding: 0px;
}
