body {
    width: auto;
    overflow-x: hidden;
}

.site-bg {
    background-color: #FAF5EF;
}

.white-background,
body {
    background-color: #FAF5EF;
}

.black-bg {
    background-color: #28231D;;
}

.black-transparent {
    background-color:rgba(64, 57,43, 0.8);
}

.white-fg {
    color: #FAF5EF;
}

.button-color {
    border-color: #28231D;
    color: #28231D;
    transition: 0.2s ease-in-out;
}

.button-color:hover {
    border-color: #cdb69a;
    color: #b7a38b;
}

.nav-hover {
    /* border: 1px solid red; */
    position: relative;
    padding: 4px 12px;
    transition: all .3s ease;
    margin: 0px 10px 0px 10px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 20px;
        background-color: rgb(40, 35, 29, .0);
        width: 40px;
        height: 40px;
        transition: all .3s ease;
        pointer-events: auto;
    };
    span {
        position: relative;
        color: inherit;
        transition: all .3s ease;
        font-size: 16px;
    }
    svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #FAF5EF;
        stroke-width: 2;
        transform: translate(0px, -2px);
        transition: all .3s ease;
    };
    &:hover {
        transform: translateX(5px);
        &::before {
            width: 100%;
            background-color: rgb(40, 35, 29);
        };
        svg {
            transform: translate(2px, -2px);
            stroke:#FAF5EF;
            stroke-width: 2;
        };
        span {
            color: #FAF5EF;
        };
    };
    &:active {
        transform: scale(.96);
    }
}

/* Nav Hamburger */

.social-btn {
    transition: all .3s ease;
    &:hover {
        transform: translateX(5px);
    };
    &:active {
        transform: scale(.96);
    }
}

.social-btn > svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #FAF5EF;
    stroke-width: 2;
    transform: translate(0px, -2px);
    transition: all .3s ease;
}

.pill-btn {
    transition: all .3s ease;
    &:hover {
        transform: translate(0px, 5px);
    };
    &:active {
        transform: scale(.96);
    }
}

.font-serif, 
.font-serif-w,
.menu-item a {
    font-family: 'Ramaraja', serif;
}

.font-serif {
    color: #28231D;
}

.font-serif-w  {
    color: #FAF5EF;
}

.font-san-serif,
.font-san-serif-w {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
}

.font-san-serif {
    color: #28231D;
}

.font-san-serif-w {
    color: #FAF5EF;
}

.text-ssm {
    font-size: 12px;
}

.wide-tracking {
    letter-spacing: 1px;
}

.image {
    background-size: cover;
    background-position: right;
}

.title {
    font-size: 5rem;
}

.about-img {
    height: 600px;
}

.body-font {
    font-family: 'Roboto', sans-serif;
    color: #28231D;
}

.body-font-w {
    font-family: 'Roboto', sans-serif;
    color: #FAF5EF;
}

::placeholder {
    font-size: 12px;
    padding: 0px;
}

.footer-start,
.footer-end {
    text-align: center;
}

.footer-end > a:hover {
        height: 20px;
}

.nav-header {
}

.header-start,
.header-end {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-start {
    background-image: url(/images/matthew-01.png);
    background-size: cover;
    background-position: center;
}

.home-end {
    background-image: none;
}

.stroke {
    color: #28231D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #28231D;
	text-shadow: 3px 3px 1px #FAF5EF;
    font-size: 4.5rem;
}

.home-back {
    background-color: #FAF5EF;
    padding: 2px;
}

.home-center {
    display: flex;
    justify-content: center;
}

.display-card-style {
    aspect-ratio: 1 / 1;
}

  
  @media (min-width: 769px) {


    .footer-start {
      text-align: left;
    }

    .footer-end {
        text-align: right;
    }

    .header-start {
        justify-content: flex-start;
    }

    .header-end {
        justify-content: flex-end;
    }

    .home-start {
        padding: 50px;
    }

    .stroke {
        font-size: 6rem;
    }

    .aspect-ratio-style {
        aspect-ratio: 1/1;
    }
  }

  @media (min-width: 992px) {
    .home-start {
        background-image: none;
    }

    .home-end {
        background-image: url(/images/matthew-01.png);
        background-size: cover;
    }

    .home-center {
        justify-content: flex-start;
    }
  }

  /* ----------- test hamburger ---------- */

.ham-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 100;
    padding: 16px 16px;
    transition: all .3s ease;
    color: #28231D;
}

.hn-icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 4px;
    background-color: #28231D;
    transition-property: background-color, transform;
    transition-duration: .5s;
    &::before,
    &::after {
        content: '';
        display: block;
        width: 32px;
        height: 4px;
        position: absolute;
        background-color: #28231D;
        transition-property: background-color, transform;
        transition-duration: .5s;
    }
    &::before {
        margin-top: -10px;
    }
    &::after {
        margin-top: 10px;
    }
}

.menu-item {
    list-style-type: none;
    margin-top: 24px;
    transition: all .3s ease-in-out;
    &:active {
        transform: translateY(5px);
    }
}

.menu-item-current {
    list-style-type: none;
    margin-top: 24px;
    padding: 4px 16px;
    border-radius: 8px;
    background-color: #3d3832;
    transition: all .3s ease-in-out;
    &:active {
        transform: translateY(5px);
    }
}

.ham-nav a,
.menu-item a,
.menu-item-current a {
    color: #FAF5EF;
    text-decoration: none;
    font-size: 24px;
}

.active-btn {
    width: 100%;
    background-color: #28231D;
}

.active-btn .menu-item {
    opacity: 1;
    
}

.active-btn .hn-icon {
    background-color: rgba(0,0,0,0.0);
    &::before {
        margin-top: 0;
        transform: rotate(45deg);
        background-color: #FAF5EF;
    }
    &::after {
        background-color: #FAF5EF;
        margin-top: 0;
        transform: rotate(-45deg);
    }
}

.inactive-btn {
    width: auto;
}

.active-menu {
    display: block;
    width: auto;
}

.inactive-menu {
    display: none;
}

/* Old Nav */

/* .ham-nav {
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition: all .3s ease-in-out;
    transform: translate(100%,-100%) scale(0.5);   
    border-radius:100%; 
} */

/* .hn-active > .ham-nav {
    opacity: 1;
    background-color: #28231D;
    transform: translateY(0) scale(1); 
    border-radius:0; 
    width:100%;
    height:100%;
    z-index: 100;
} */

/* .hn-list {
    margin: 0;
    padding: 10px;
} */

/* .hn-item {
    color: #28231D;
    list-style-type: none;
    text-align: left;
} */

/* .hn-link {
    text-decoration: none;
    color: #FAF5EF;
    /* opacity: 1;
    opacity:0;
    /* transition-delay:500ms; 
    transition: opacity .5s ease-in-out;
}
/* .hn-active > .hn-link {
    opacity: 1;
} */

/* .hn-trigger {
    display: block;
    position: absolute;
    width: 30px;
    height: 25px;
    right: 10px;
    top: 10px;
    z-index: 100;
} */

/* .hn-active > .hn-trigger {
    opacity: .5;
} */

/* .hn-icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #28231D;
    transition-property: background-color, transform;
    transition-duration: .3s;
    &::before,
    &::after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        position: absolute;
        background-color: #28231D;
        transition-property: background-color, transform;
        transition-duration: .3s;
    }
    &::before {
        margin-top: -10px;
    }
    &::after {
        margin-top: 10px;
    }
} */

/* .hn-active .hn-icon {
    background-color: rgba(0,0,0,0.0);
    &::before {
        margin-top: 0;
        transform: rotate(45deg);
    }
    &::after {
        margin-top: 0;
        transform: rotate(-45deg);
    }
} */



