.site-bg {
    background-color: #FAF5EF;
}

.white-background,
body {
    background-color: #FAF5EF;
}

.black-bg {
    background-color: #28231D;;
}

.black-transparent {
    background-color:rgba(64, 57,43, 0.8);
}

.white-fg {
    color: #FAF5EF;
}

.button-color {
    border-color: #28231D;
    color: #28231D;
    transition: 0.2s ease-in-out;
}

.button-color:hover {
    border-color: #cdb69a;
    color: #b7a38b;
}

.font-serif, 
.font-serif-w {
    font-family: 'Ramaraja', serif;
}

.font-serif {
    color: #28231D;
}

.font-serif-w  {
    color: #FAF5EF;
}

.font-san-serif,
.font-san-serif-w {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
}

.font-san-serif {
    color: #28231D;
}

.font-san-serif-w {
    color: #FAF5EF;
}

.text-ssm {
    font-size: 12px;
}

.wide-tracking {
    letter-spacing: 1px;
}

.image {
    background-size: cover;
    background-position: right;
}

.title {
    font-size: 5rem;
}

.about-img {
    height: 600px;
}

.body-font {
    font-family: 'Roboto', sans-serif;
    color: #28231D;
}

.body-font-w {
    font-family: 'Roboto', sans-serif;
    color: #FAF5EF;
}

::placeholder {
    font-size: 12px;
    padding: 0px;
}

.transition {
    
}

.footer-start,
.footer-end {
    text-align: center;
}

.header-start,
.header-end {
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-start {
    background-image: url(./images/matthew-01.png);
    background-size: cover;
    background-position: center;
}

.home-end {
    background-image: none;
}

.stroke {
    color: #28231D;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #28231D;
	text-shadow: 3px 3px 1px #FAF5EF;
    font-size: 4.5rem;
}

.home-back {
    background-color: #FAF5EF;
    padding: 2px;
}

.home-center {
    display: flex;
    justify-content: center;
}



  
  @media (min-width: 769px) {
    .footer-start {
      text-align: left;
    }

    .footer-end {
        text-align: right;
    }

    .header-start {
        justify-content: flex-start;
    }

    .header-end {
        justify-content: flex-end;
    }

    .home-start {
        padding: 50px;
    }

    .stroke {
        font-size: 6rem;
    }
  }

  @media (min-width: 992px) {
    .home-start {
        background-image: none;
    }

    .home-end {
        background-image: url(./images/matthew-01.png);
        background-size: cover;
    }

    .home-center {
        justify-content: flex-start;
    }
  }



